.table {
    text-align: left;
    font-family: Helvetica Neue,Helvetica;
    border-collapse: collapse;
    border: 1px solid grey;
    width: 800px;
}

.table tr:first-child{
    width:5px; 
}

.table-div td {
    padding: 15px 0px 15px 10px;
}

.table-div th {
    padding: 15px 0px 15px 10px;
}


.table-head {
    background-color: #82a0ea;
    color: #ffffff;
}

.table-body tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

.input-div {
    margin: 10px;
    float: right;
}

.table-div {
    margin: 10px;
    float: left;
}

.error-message {
    color: #eb5138;
}

.filter-div{
    margin: 10px;
}
