.table {
    text-align: left;
    font-family: Helvetica Neue,Helvetica;
    border-collapse: collapse;
    border: 1px solid grey;
}

.table-div td {
    padding: 10px;
}

.table-div th {
    padding: 10px;
}


.table-head {
    background-color: #82a0ea;
    color: #ffffff;
    padding: 10px;
}

.table-body tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

.input-div {
    margin: 10px;
}

.table-div {
    margin: 10px;
}

.error-message {
    color: #eb5138;
}

.filter-div {
    margin: 10px;
}

.input-error {
    border-color: #eb5138;
}
